﻿@model ChangePasswordModel

@if (TempData.ContainsKey("errorMessage"))
{
    <div class="alert alert-danger">
        @TempData["errorMessage"]
    </div>
}

<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="@Url.Action("ChangePassword", "User")">
                    <input type="hidden" value="@Model.userId" name="userId"/>
                    <table>
                        <tr>
                            <td>Password Lama</td>
                            <td><input type="password" name="oldPassword" class="form-control form-control-sm" required /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><span class="text-danger" asp-validation-for="oldPassword"></span></td>
                        </tr>
                        <tr>
                            <td>Password Baru</td>
                            <td><input type="password" name="newPassword" class="form-control form-control-sm" required /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><span class="text-danger" asp-validation-for="newPassword"></span></td>
                        </tr>
                        <tr>
                            <td>Password Konfirmasi</td>
                            <td><input type="password" name="newPasswordConfirmation" class="form-control form-control-sm" required /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><span class="text-danger" asp-validation-for="newPasswordConfirmation"></span></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit" class="btn btn-primary">Ganti Password</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>