﻿@model CreateUserModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">CREATE USER</h1>
</div>

<div class="row mt-4">
    <div class="col-lg-4">
        @if(TempData.ContainsKey("errorMessage")){
            <div class="alert alert-danger">
                @TempData["errorMessage"]
            </div>
        }
        <div class="card">
            <div class="card-body">
                <form asp-action="Create" method="post">
                    <table>
                        <tr>
                            <td style="width: 290px">Username</td>
                            <td>
                                <input type="text" class="form-control form-control-sm" required name="username" />
                                <span asp-validation-for="username" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>
                                <input type="password" class="form-control form-control-sm" required name="password" />
                                <span asp-validation-for="password" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Password Confirmation</td>
                            <td>
                                <input type="password" class="form-control form-control-sm" required name="passwordConfirmation" />
                                <span asp-validation-for="passwordConfirmation" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <button class="btn btn-success">Create</button>
                            </th>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>