﻿@using Ampera.Entity
@model UserEditModel
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Update User</h1>
</div>

<div id="alertDanger" class="d-none alert alert-danger">Error update user permission</div>
<div id="alertLoading" class="d-none alert alert-info">Loading...</div>
<div id="alertSuccess" class="d-none alert alert-success">Success update user permission</div>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Permission</th>
                            <th>Is Authorized</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Daftar Barang</td>
                            <td>
                                <input type="checkbox" name="isAuthorized" value="@Permissions.DaftarBarangView" @(Model.authorizedPermissions.Contains(Permissions.DaftarBarangView) ? "checked='checked'": "") />
                            </td>
                        </tr>
                        <tr>
                            <td>Modal Tambahan</td>
                            <td>
                                <input type="checkbox" name="isAuthorized" value="@Permissions.ModalTambahan" @(Model.authorizedPermissions.Contains(Permissions.ModalTambahan) ? "checked='checked'": "") />
                            </td>
                        </tr>
                        <tr>
                            <td>Sales Daily Report</td>
                            <td>
                                <input type="checkbox" name="isAuthorized" value="@Ampera.Entity.Permissions.SalesDailyReport" @(Model.authorizedPermissions.Contains(Permissions.SalesDailyReport) ? "checked='checked'": "") />
                            </td>
                        <tr/>
                        <tr>
                            <td>Omzet Barang</td>
                            <td>
                                <input type="checkbox" name="isAuthorized" value="@Ampera.Entity.Permissions.OmzetBarang" @(Model.authorizedPermissions.Contains(Permissions.OmzetBarang) ? "checked='checked'": "") />
                            </td>
                        </tr>
                        <tr>
                            <td>Omzet Customer</td>
                            <td>
                                <input type="checkbox" name="isAuthorized" value="@Ampera.Entity.Permissions.OmzetCustomer" @(Model.authorizedPermissions.Contains(Permissions.OmzetCustomer) ? "checked='checked'": "") />
                            </td>
                        </tr>
                        <tr>
                            <td>User & Authorization</td>
                            <td>
                                <input type="checkbox" name="isAuthorized" value="@Ampera.Entity.Permissions.User" @(Model.authorizedPermissions.Contains(Permissions.User) ? "checked='checked'": "") />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function(){
            $("input[type=checkbox]").on("change", function(){
                $("#alertLoading").removeClass("d-none");
                $("#alertDanger").addClass("d-none");
                $("#alertSuccess").addClass("d-none");


                var data = {
                    userId: "@Model.userId.ToString()",
                    permissionId: $(this).val(),
                    isAuthorized: $(this).prop("checked")
                };
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "@Url.Action("UpdatePermission", "User")",
                    data: JSON.stringify(data),
                    success: function(xhr, data){
                        $("#alertLoading").addClass("d-none");
                        $("#alertDanger").addClass("d-none");
                        $("#alertSuccess").removeClass("d-none");
                    },
                    complete: function(xhr, data){
                        if(xhr.status != 200){
                            $("#alertLoading").addClass("d-none");
                            $("#alertDanger").removeClass("d-none");
                            $("#alertSuccess").addClass("d-none");
                        }
                    }
                });
            });
        });
    </script>
}