﻿@model UserListViewModel

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">USER</h1>
</div>

@if (TempData.ContainsKey("infoMessage"))
{
    <div class="alert alert-info">
        @TempData["infoMessage"]
    </div>
}

<a asp-action="Create" asp-controller="User" class="btn btn-success">Create</a>

<div class="row mt-4">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var user in Model.users){
                            <tr>
                                <th>@user.username</th>
                                <th class="text-right">
                                    <a asp-action="Edit" asp-controller="User" asp-route-userId="@user.userId">Edit Otorisasi</a>
                                    <a asp-action="Delete" asp-controller="User">Delete</a>
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>