﻿@model OmzetBarangViewModel
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">LAPORAN OMZET BARANG</h1>
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="card p-3 mb-3">
            <form method="post" action="@Url.Action("OmzetBarangView", "Report")">
                <table class="mb-3">
                    <tr>
                        <td><span style="display: block; width: 100px;">Tanggal</span></td>
                        <td><input id="startDate" name="awal" type="text" required class="form-control form-control-sm" value="@Model.awal.ToString("yyyy-MM-dd")" style="width: 110px"/></td>
                        <td> s/d </td>
                        <td><input id="endDate" name="akhir" type="text" required class="form-control form-control-sm" value="@Model.akhir.ToString("yyyy-MM-dd")" style="width: 110px"/></td>
                    </tr>
                    <tr>
                        <td>Filter Nama Barang</td>
                        <td colspan="3">
                            <input type="text" name="namaBarang" class="form-control form-control-sm" value="@Model.namaBarang" />
                        </td>
                    </tr>
                    <tr>
                        <td>Urutkan Berdasarkan</td>
                        <td>
                            <select class="form-select" name="sortBy" asp-for="sortBy" asp-items="Model.sortByOptions"></select>
                        </td>
                        <td></td>
                        <td>
                            <select class="form-select" name="sortOrder" asp-for="sortOrder" asp-items="Model.sortOrderOptions"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Jumlah Data</td>
                        <td colspan="3">
                            <input type="text" name="rowCount" class="form-control form-control-sm" value="@Model.rowCount" />
                        </td>
                    </tr>
                </table>
                <button class="btn btn-success" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary" id="btnExportExcel">Export</button>
    </div>
</div>

<table id="table" class="table">
    <thead>
        <tr>
            <th>Kode Barang</th>
            <th>Nama Barang</th>
            <th>Quantity</th>
            <th>Satuan</th>
            <th>Laba Awal</th>
            <th>Modal Tambahan</th>
            <th>Laba Akhir</th>
            <th>Omzet</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Items)
        {
            <tr>
                <td>@item.kodeBarang</td>
                <td>@item.namaBarang</td>
                <td>@item.qty.ToString("N0")</td>
                <td>@item.satuan</td>
                <td>@item.labaAwal.ToString("N0")</td>
                <td>@item.modalTambahan.ToString("N0")</td>
                <td>@item.labalAkhir.ToString("N0")</td>
                <td>@item.omzet.ToString("N0")</td>+
            </tr>
        }
    </tbody>
</table>

@section Head {
    <link rel="stylesheet" type="text/css" href="~/lib/datepicker/datepicker.min.css"/>
}

@section Scripts {
    <script src="~/lib/datepicker/datepicker.min.js"></script>
    <script src="~/lib/jquery.table2excel.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#startDate').datepicker({
                autoHide: true,
                format: 'yyyy-mm-dd'
            });
            $('#endDate').datepicker({
                autoHide: true,
                format: 'yyyy-mm-dd'
            });
           $("#btnExportExcel").on("click", function(){
            $("#table").table2excel({
                filename: "OmzetBarang_" + $("#startDate").val() + "_" + $("#endDate").val() + ".xls",
            });  
           });
        });
    </script>
}