﻿@model SalesDailyReportModel
@{
    ViewData["Title"] = "Daily Report Sales";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">SALES DAILY REPORT</h1>
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="card p-3 mb-3">
            <form method="post" action="@Url.Action("GetSalesDailyReport", "Report")">
                <table class="mb-3">
                    <tr>
                        <td><span style="display: block; width: 100px;">Tanggal</span></td>
                        <td><input id="startDate" name="awal" type="text" required class="form-control form-control-sm" value="@Model.awal.ToString("yyyy-MM-dd")" style="width: 110px"/></td>
                        <td> s/d </td>
                        <td><input id="endDate" name="akhir" type="text" required class="form-control form-control-sm" value="@Model.akhir.ToString("yyyy-MM-dd")" style="width: 110px"/></td>
                    </tr>
                </table>
                <button class="btn btn-success" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</div>

<div class="row mt-3">
    @if(Model.DropDownListFilterSales.Count > 0){
        <div class="col-lg-3 col-sm-6">
            <div class="card p-3 mb-3">
                <div class="card-body">
                    <input type="text" class="form-control form-control-sm" placeholder="Filter Sales" id="input_filter_sales"/>
                    <ul style="list-style: none; padding: 0; max-height: 200px; overflow-y: scroll;" id="list_filter_sales">
                        <li>
                            <label>
                                <input type="checkbox" name="checkbox_all" class="checkbox-filter-sales" value="ALL" checked="checked" id="checkbox_sales_all" /> ALL
                            </label>
                        </li>
                        @foreach(var filter in Model.DropDownListFilterSales)
                        {
                            <li class="filter-sales-item">
                                <label>
                                    <input type="checkbox" class="checkbox-filter-sales" checked="checked" value="@filter"/> @filter
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }

    @if(Model.DropDownListFilterRekan.Count > 0)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="card p-3 mb-3">
                <div class="card-body">
                    <input type="text" class="form-control form-control-sm" placeholder="Filter Rekan" id="input_filter_rekan"/>
                    <ul style="list-style: none; padding: 0; max-height: 200px; overflow-y: scroll;" id="list_filter_rekan">
                        <li>
                            <label>
                                <input type="checkbox" name="checkbox_all" class="checkbox-filter-rekan" value="ALL" checked="checked" id="checkbox_rekan_all" /> ALL
                            </label>
                        </li>
                        @foreach(var filter in Model.DropDownListFilterRekan)
                        {
                            <li class="filter-rekan-item">
                                <label>
                                    <input type="checkbox" class="checkbox-filter-rekan" checked="checked" value="@filter"/> @filter
                                </label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col">
        <button class="btn btn-primary" id="btnExportExcel">Export to Excel</button>
    </div>
</div>

<table id="reportTable" class="table table-sm">
    <thead>
        <tr>
            <th>SALES</th>
            <th>CUSTOMER</th>
            <th>OWNER</th>
            <th>YOZURI</th>
            <th>YZR</th>
            <th>SMART CHOICE</th>
            <th>OTHER</th>
            <th>RETUR</th>
            <th>OMZET</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var segment in Model.segments)
    {
        @foreach (var item in segment.items)
        {
            <tr>
                <td>@item.namaSales</td>
                <td>@item.namaRekan</td>
                <td>@item.sumOfOwner.ToString("N0")</td>
                <td>@item.sumOfYozuri.ToString("N0")</td>
                <td>@item.sumOfYZR.ToString("N0")</td>
                <td>@item.sumOfSmartChoice.ToString("N0")</td>
                <td>@item.sumOfOther.ToString("N0")</td>
                <td>@item.sumOfRetur.ToString("N0")</td>
                <td>@item.sumOfOmzet.ToString("N0")</td>
                <td>@item.sumOfTotal.ToString("N0")</td>
            </tr>
        }
    }
    </tbody>
    <tfoot>
        <tr>
            <th>Grand Total</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

@section Head {
    <link rel="stylesheet" type="text/css" href="~/lib/datepicker/datepicker.min.css"/>
}
@section Scripts {
    <script src="~/lib/jquery.number.min.js"></script>
    <script src="~/lib/datepicker/datepicker.min.js"></script>
    <script src="~/lib/jquery.table2excel.min.js"></script>
    <script type="text/javascript">
        var selectedSalesFilter = [];
        var selectedRekanFilter = [];

        $(document).ready(function(){

            selectedSalesFilter = $('.checkbox-filter-sales:checked').map(function(){
                return this.value;
            }).get();
            selectedRekanFilter = $('.checkbox-filter-rekan:checked').map(function(){
                return this.value;
            }).get();

            $("#btnExportExcel").on("click", function(){
                $("#reportTable").table2excel({
                    filename: "SalesDailyReport_" + $("#startDate").val() + "_" + $("#endDate").val() + ".xls",
                });  
            });

            $.fn.dataTable.ext.search.push(
                function( settings, data, dataIndex ) {
                    var allSales = $('#checkbox_sales_all').is(":checked");
                    var allRekan = $('#checkbox_rekan_all').is(":checked");
                    
                    if(allSales && allRekan) return true;

                    if(allSales && selectedRekanFilter.indexOf(data[1]) >= 0) return true;

                    if(allRekan && selectedRekanFilter.indexOf(data[0]) >= 0) return true;

                    return selectedSalesFilter.indexOf(data[0]) >= 0 && selectedRekanFilter.indexOf(data[1]) >= 0;
                }
            );

            var groupColumn = 9;
            var dataTable = $('#reportTable').DataTable({
                paging: false,
                ordering: false,
                rowGroup: {
                    startRender: null,
                    endRender: function(rows, group){
                        var subTotalOwner = rows.data().pluck(2).reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                        var subTotalYozuri = rows.data().pluck(3).reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                        var subTotalYZR = rows.data().pluck(4).reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                        var subTotalSmartChoice = rows.data().pluck(5).reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                        var subTotalOther = rows.data().pluck(6).reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                        var subTotalRetur = rows.data().pluck(7).reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                        var subTotalOmzet = rows.data().pluck(8).reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                        var subTotal = rows.data().pluck(9).reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);

                        return $('<tr class="bg-info">')
                                .append('<th colspan="2">Sub Total Sales ' + group + '</th>')
                                .append('<th>' + $.number(subTotalOwner, 0, ",", ".") + '</th>')
                                .append('<th>' + $.number(subTotalYozuri, 0, ",", ".") + '</th>')
                                .append('<th>' + $.number(subTotalYZR, 0, ",", ".") + '</th>')
                                .append('<th>' + $.number(subTotalSmartChoice, 0, ",", ".") + '</th>')
                                .append('<th>' + $.number(subTotalOther, 0, ",", ".") + '</th>')
                                .append('<th>' + $.number(subTotalRetur, 0, ",", ".") + '</th>')
                                .append('<th>' + $.number(subTotalOmzet, 0, ",", ".") + '</th>')
                                .append('<th>' + $.number(subTotal, 0, ",", ".") + '</th>')
                                .append('</tr>');
                    },
                    dataSrc: 0
                },
                footerCallback: function(rows, data, start, end, display){
                    console.log(display);
                    var api = this.api();
                    var grandTotalOwner = api.column(2, { search: 'applied' }).data().reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                    var grandTotalYozuri = api.column(3, { search: 'applied' }).data().reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                    var grandTotalYZR = api.column(4, { search: 'applied' }).data().reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                    var grandTotalSmartChoice = api.column(5, { search: 'applied' }).data().reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                    var grandTotalOther = api.column(6, { search: 'applied' }).data().reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                    var grandTotalRetur = api.column(7, { search: 'applied' }).data().reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                    var grandTotalOmzet = api.column(8, { search: 'applied' }).data().reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);
                    var grandTotal = api.column(9, { search: 'applied' }).data().reduce((sum, next) => sum + parseInt(cleanCommaAndPeriod(next)), 0);

                    $(api.column(2).footer()).html($.number(grandTotalOwner, 0, ",", "."));
                    $(api.column(3).footer()).html($.number(grandTotalYozuri, 0, ",", "."));
                    $(api.column(4).footer()).html($.number(grandTotalYZR, 0, ",", "."));
                    $(api.column(5).footer()).html($.number(grandTotalSmartChoice, 0, ",", "."));
                    $(api.column(6).footer()).html($.number(grandTotalOther, 0, ",", "."));
                    $(api.column(7).footer()).html($.number(grandTotalRetur, 0, ",", "."));
                    $(api.column(8).footer()).html($.number(grandTotalOmzet, 0, ",", "."));
                    $(api.column(9).footer()).html($.number(grandTotal, 0, ",", "."));
                }
            });

            $('.checkbox-filter-sales').on("change", function(){
                if(this.value == "ALL"){
                    $(".checkbox-filter-sales").prop("checked", $(this).prop("checked"));
                } else {
                    $("#checkbox_sales_all").prop("checked", false);
                }

                selectedSalesFilter = $('.checkbox-filter-sales:checked').map(function(){
                    return this.value;
                }).get();

                if($('.checkbox-filter-sales:checked').length == 0) $("#checkbox_sales_all").prop("checked", true);

               dataTable.draw(false);
            });

            $('.checkbox-filter-rekan').on("change", function(){
                if(this.value == "ALL"){
                    $(".checkbox-filter-rekan").prop("checked", $(this).prop("checked"));
                } else {
                    $("#checkbox_rekan_all").prop("checked", false);
                }

                selectedRekanFilter = $('.checkbox-filter-rekan:checked').map(function(){
                    return this.value;
                }).get();

                if($('.checkbox-filter-rekan:checked').length == 0) $("#checkbox_rekan_all").prop("checked", true);

               dataTable.draw(false);
            });

            $('#startDate').datepicker({
                autoHide: true,
                format: 'yyyy-mm-dd'
            });
            $('#endDate').datepicker({
                autoHide: true,
                format: 'yyyy-mm-dd'
            });

            $('#input_filter_sales').on("keyup", function(){
                $("#list_filter_sales li.filter-sales-item").removeClass("d-none");

                var filter = $(this).val().trim();
                if(filter.length == 0) return;

                $("#list_filter_sales li.filter-sales-item").addClass("d-none");
                
                $("#list_filter_sales li.filter-sales-item").each((key, val) => {
                    console.log($(val).children().first().children().first().val());
                    if($(val).children().first().children().first().val().toLowerCase().includes(filter.toLowerCase())) {
                        $(val).removeClass("d-none");
                    }
                });
            });

            $('#input_filter_rekan').on("keyup", function(){
                $("#list_filter_sales li.filter-sales-item").removeClass("d-none");

                var filter = $(this).val().trim();
                if(filter.length == 0) return;

                $("#list_filter_rekan li.filter-rekan-item").addClass("d-none");
                
                $("#list_filter_rekan li.filter-rekan-item").each((key, val) => {
                    console.log($(val).children().first().children().first().val());
                    if($(val).children().first().children().first().val().toLowerCase().includes(filter.toLowerCase())) {
                        $(val).removeClass("d-none");
                    }
                });
            });

            $("#btn_search").on("click", function(){
                var data = {
                    awal: "2022-01-01",
                    akhir: "2022-02-02"
                };
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "@Url.Action("GetSalesDailyReport", "Report")",
                    data: JSON.stringify(data),
                    success: function(data){
                        console.log(data);
                    },
                    complete: function(xhr, data){
                        //console.log(data);
                    }
                });
            });


        });

        function cleanCommaAndPeriod(data){
            return data.replaceAll(".", "").replaceAll(",", "");
        }

        function reformatExportExcel(data, row, column, node){
            if(column > 1){
                return cleanCommaAndPeriod(data);
            }

            return data;
        }
    </script>
}