﻿@using Ampera.Entity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ampera</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ampera.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/datatables.min.css"/>
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">STS x Feat</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="@Url.Action("Logout", "User")">Sign out</a>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" asp-action="index" asp-controller="Main">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
                @if (Context.HasPermission(Permissions.DaftarBarangView))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="index" asp-controller="DaftarBarang">
                            <span data-feather="file"></span>
                            Daftar Barang
                        </a>
                    </li>
                }
                @if (Context.HasPermission(Permissions.User))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="User">
                            <span data-feather="bar-chart-2"></span>
                            User & Authorization
                        </a>
                    </li>
                }
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Laporan</span>
              <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              @if(Context.HasPermission(Permissions.SalesDailyReport)){
                  <li class="nav-item">
                    <a class="nav-link" asp-action="SalesDailyReportView" asp-controller="Report">
                      <span data-feather="shopping-cart"></span>
                      Sales Daily Report
                    </a>
                  </li>
              }
              @if(Context.HasPermission(Permissions.OmzetCustomer)){
                  <li class="nav-item">
                    <a class="nav-link" asp-action="OmzetCustomerView" asp-controller="Report">
                      <span data-feather="shopping-cart"></span>
                      Omzet Customer
                    </a>
                  </li>
              }
              @if(Context.HasPermission(Permissions.OmzetBarang)){
                  <li class="nav-item">
                    <a class="nav-link" asp-action="OmzetBarangView" asp-controller="Report">
                      <span data-feather="shopping-cart"></span>
                      Omzet Barang
                    </a>
                  </li>
              }
              <li class="nav-item">
                <a class="nav-link" asp-action="ChangePassword" asp-controller="User">
                    Change Password
                </a>
                </li>
            </ul>
          </div>
        </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/jszip.min.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/Buttons-2.2.2/js/datatables.buttons.min.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/Buttons-2.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/lib/DataTables/Buttons-2.2.2/js/buttons.bootstrap5.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
