﻿@model HomePageModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="">
    <span>Feat API Status: </span>
    @if (Model.FeatApiStatusOK)
    {
        <span class="text-success">Ok</span>
    } else
    {
        <span class="text-danger">Error</span>
    }
</div>
<table class="table" style="width: 300px">
    <thead>
        <tr>
            <th>End Point</th>
            <th>API Id</th>
        </tr>
    </thead>
    @foreach(var item in Model.homePageApiIdListItems)
    {
        <tr>
            <td>@item.ApiName</td>
            <td>@item.ApiId</td>
        </tr>
    }
</table>